{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "MONGODB_URI": "mongodb+srv://<usuario>:<senha>@<cluster>.mongodb.net/?retryWrites=true&w=majority&appName=<app>",
    "MONGODB_DB": "furafila",
    "MONGODB_COLLECTION": "open-prontuario"
  },
  "Host": {
    "CORS": "*",
    "CORSCredentials": false
  }
}
